In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report

In [24]:
import requests
from io import StringIO

url='https://drive.google.com/file/d/1SOmIqjhd--_cHYbdoSHYkWsHnPMc96rO/view?usp=sharing'

file_id = url.split('/')[-2]
dwn_url='https://drive.google.com/uc?export=download&id=' + file_id
url2 = requests.get(dwn_url).text
csv_raw = StringIO(url2)

In [25]:
file_id

'1SOmIqjhd--_cHYbdoSHYkWsHnPMc96rO'

In [26]:
credit_card = pd.read_csv(csv_raw)

In [27]:
#print first 5 rows of the dataset
credit_card.head()

,"<!DOCTYPE html><html><head><title>Google Drive - Virus scan warning</title><meta http-equiv=""content-type"" content=""text/html; charset=utf-8""/><link href=&#47;static&#47;doclist&#47;client&#47;css&#47;591712061&#45;untrustedcontent.css rel=""stylesheet"" nonce=""QEJMcR2c2hNl65jL2Ss0Gg""><link rel=""icon"" href=""//ssl.gstatic.com/images/branding/product/1x/drive_2020q4_32dp.png""/><style nonce=""QEJMcR2c2hNl65jL2Ss0Gg"">#gbar",#guser{font-size:13px;padding-top:0px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}
0,"</style><script nonce=""ArGQwa+Xgoks9U6GAeLyHw""...",NaN,NaN,NaN,NaN

In [5]:
credit_card['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [6]:
#check te number of missing values in each column
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#check distribution of legit transaction and fradulent transaction
legit = credit_card[credit_card['Class'] == 0]
fraud = credit_card[credit_card['Class'] == 1]

In [10]:
credit_card.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [11]:
# Build a sample dataset containing similar distribution of normal and fraud transaction

In [12]:
legit_sample = legit.sample(n = 492)

In [14]:
final_data = pd.concat([legit_sample,fraud],axis = 0)

In [15]:
final_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
91303,63405.0,-0.432552,0.924204,2.286751,1.277934,0.158438,0.466416,1.249374,-0.528640,-0.521929,...,-0.168069,-0.055141,-0.263443,0.186871,-0.110123,-0.358127,-0.618433,-0.617011,59.00,0
46470,42801.0,-0.810894,-1.000670,1.095782,-3.268652,0.049586,-0.873231,-0.262624,0.206625,-0.289502,...,-0.271686,-0.626758,0.072590,-0.369371,0.083288,-0.212296,-0.018649,0.003972,40.74,0
166070,117842.0,-0.180516,-0.027339,-0.889695,-2.001590,1.225377,-0.652247,1.254111,-0.303809,-1.790423,...,-0.097416,0.102333,-0.162535,-1.064109,-0.204414,0.647769,0.072319,0.171177,67.88,0
187890,127730.0,-1.697455,1.859041,-1.352809,-1.463517,0.395460,-0.980257,0.643320,0.135753,0.705588,...,0.476561,1.259054,-0.015324,0.602343,-0.547154,-0.732721,-0.792648,0.102245,7.02,0
284273,172290.0,2.087029,0.164716,-1.765379,0.379349,0.502933,-0.789037,0.189939,-0.233421,0.486187,...,-0.373775,-0.963143,0.319428,0.382252,-0.232924,0.180987,-0.062011,-0.031856,1.29,0

In [16]:
final_data.shape

(984, 31)

In [18]:
final_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
#Split the data into training and test split
X = final_data.drop(columns='Class', axis = 1)
y = final_data.Class

In [23]:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size = 0.15, stratify = y, random_state = 1)

In [26]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (836, 30) (148, 30)

In [27]:
#Model training
model = LogisticRegression()

In [28]:
#fit the model
model.fit(X_train,y_train)

LogisticRegression()

In [30]:
predictions = model.predict(X_test)

In [31]:
#Model evaluation

In [32]:
accuracy_score(y_test,predictions)

0.9391891891891891

In [34]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94        74
           1       1.00      0.88      0.94        74

    accuracy                           0.94       148
   macro avg       0.95      0.94      0.94       148
weighted avg       0.95      0.94      0.94       148

In [35]:
print(confusion_matrix(y_test, predictions))

[[74  0]
 [ 9 65]]